$color_red: rgb(255, 0, 0);
$color_carrot_orange: rgb(255, 161, 55);

.currency-container {
  margin-bottom: 20px;
}

.currency-rates {
  width: 310px;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 20px;
  border-bottom: 0.1px solid $color_red;
}

.curr-title, .curr-status {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

.curr-status {
  color: $color_carrot_orange;
}

.curr-descr {
  width: 260px;
  text-align: left;
  font-size: 24px;
}

.curr-close {
  width: 30px;
  height: 30px;
  border: 1px solid $color_red;
  border-radius: 18px;
  margin-top: 3px;
  font-size: 22px;
  color: $color_red;
  cursor: pointer;
}

.curr-sign {
  width: 25px;
  font-size: 26px;
}

.curr-rate {
  width: 200px;
  text-align: left;
  padding-top: 2px;
  font-size: 24px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    overflow: visible;
    z-index: 2;
  }
}